<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="We are building a new stellar tool.">
  <meta name="author" content="One stop media">
 <title>Stellar application</title>
 <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/>
 <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
 <link href="/simple-line-icons/css/simple-line-icons.css" rel="stylesheet" type="text/css">
 
 <link href="/public/css/landing-page.min.css" rel="stylesheet" type="text/css">
 <link rel="icon" type="image/png" href="/public/images/rocket-96x96.png" sizes="96x96">   
</head>