<section name='jumbotron' >
 <div class='jumbotron text-center'>
 <h1>About</h1>
 <p>Stellar application using Node js</p>
 </div>
 </section>
 <section class="container" name="content">
 	<h4>What are Lumens?</h4>
 	<p>	Lumens are the native asset of the Stellar network.</p>
	<p>
	Native means that lumens are built into the network. Asset is how the network refers to an item of value that is stored on the ledger.
	</p>
	<p>
	One lumen is a unit of digital currency, like a bitcoin.
	While you can’t hold a lumen in your hand, they are essential to the Stellar network—they contribute to the ability to move money around the world and to conduct
	transactions between different currencies quickly and securely.
	
	from stellar.org
 	</p>
 	<h4>What is XLM?</h4>
 	<p>
 	XLM is shorthand for lumen. Most currencies have 3-letter codes (USD, EUR, AUD, BTC) as an international standard.
 	from stellar.org
 	</p>
 </section>